<h1>Iniciar sesión</h1>
<form action="/sessions/login" method="post">
    email: <input type="email" name="email"><br><br>
    password: <input type="password" name="password"><br><br>
    <input type="submit" name="Iniciar sesión"><br>
</form>