<h1>crear producto</h1>
<hr />
<form action="/products" method="post">
    Name: <input type="text" name="name"><br>
    Photo: <input type="text" name="photo"><br>
    Category: <input type="text" name="category"><br>
    Type: <input type="text" name="type"><br>
    <input type="submit" value="Create">
</form>